<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Flash Cards!</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" method="get" action="/users/new">
        <div class="form-group">
          <a href="/users/new">
            <button type="submit" class="btn btn-success">Register</button>
          </a>
        </div>
      </form>

      <form class="navbar-form navbar-right" method="post" action="/sessions/create">
        <div class="form-group">
          <input type="email" placeholder="Email" name="email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign In</button>
      </form>
    </div>
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Flash Cards!</h1>
    <p>You can study with these and it'll be pretty cool.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Cards!</h2>
      <p>Cards are crazy and you love them!</p>
    </div>
  <hr>

  <footer>
    <p>2015</p>
  </footer>
</div> <!-- /container -->



